<div class="container mt-5 mb-5">
  <div class="row">

    <h1 class="text-center">About</h1>
    <p>
      A public eating establishment similar to a restaurant is mentioned in a 512 BC record from Ancient Egypt. The establishment served only one dish, a plate of cereal, wild fowl, and onions.[5]

A forerunner of the modern restaurant is the thermopolium, an establishment in Ancient Greece and Ancient Rome that sold and served ready-to-eat food and beverages. These establishments were somewhat comparable to modern fast food restaurants. They were most often frequented by people who lacked private kitchens. In the Roman Empire they were popular among residents of insulae.[6]

In Pompeii, 158 thermopolia with service counters have been identified throughout the town. They were concentrated along the main axis of the town and the public spaces where they were frequented by the locals.[7]

The Romans also had the popina, a wine bar which in addition to a variety of wines offered a limited selection of simple foods such as olives, bread, cheese, stews, sausage, and porridge. The popinae were known as places for the plebeians of the lower classes of Roman society to socialize. While some were confined to one standing room only, others had tables and stools and a few even had couches.[8][9]

Another early forerunner of the restaurant was the inn. Throughout the ancient world, inns were set up alongside roads to cater to people traveling between cities, offering lodging and food. Meals were typically served at a common table to guests. However, there were no menus or options to choose from.[10]

The Arthashastra references establishments where prepared food was sold in ancient India. One regulation states that "those who trade in cooked rice, liquor, and flesh" are to live in the south of the city. Another states that superintendents of storehouses may give surpluses of bran and flour to "those who prepare cooked rice, and rice-cakes", while a regulation involving city superintendents references "sellers of cooked flesh and cooked rice.
    </p>


  </div>
</div>
