<div class="container mt-5 mb-5">

  <div class="row">

    <div class="col-lg-6" *ngIf="menuData">

<a routerLink="../../menu" class="btn btn-sm btn-dark mb-3" style="font-size: 18px; border-radius: 5px;">Back</a>
      <img src="{{menuData[0].foodImg}}" width="100%" />
      <h1 class="mt-5 mb-5"> {{menuData[0].foodName}} </h1>
      <p>{{menuData[0].foodDetails}}</p>
      <p>{{menuData[0].foodPrice | currency: 'INR'}}</p>

    </div>

    <form class="col-lg-6 mb-5 mt-5">
      <div class="form-group">
        <h1>Enter Your Details</h1>
        <br><br><br>
        <label >Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Name">

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Phone Number</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Phone Number">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Order</button>
    </form>

  </div>
</div>


